In [2]:
import pandas as pd

In [3]:
names_df = pd.read_csv('~/soc_final/actors_names.tsv', sep = '\t')

In [4]:
titles_crew_df = pd.read_csv("~/titles_cast.tsv", sep = '\t')

In [5]:
titles_df = pd.read_csv('~/soc_final/titles.tsv', sep = '\t')

/var/folders/dc/vrkpj_9d26q4h3tglkbvfflr0000gn/T/ipykernel_47616/1499010218.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  titles_df = pd.read_csv('~/soc_final/titles.tsv', sep = '\t')

In [6]:
top_actors_df = pd.read_csv("~/top_grossing_actors.csv")

In [7]:
#actors that have titles they are known for
actors_df = names_df[(names_df['primaryProfession'].str.contains('actor') |
                      names_df['primaryProfession'].str.contains('actress')) &
                      names_df['knownForTitles'].str.contains('tt')].reset_index(drop = True)

In [8]:
#filtering imdb actors to top 300 actors
top_actors = top_actors_df['Name'].tolist()
actors_df = actors_df[actors_df['primaryName'].isin(top_actors)]

In [9]:
#filtering out duplicates based on birthyear
actors_df = actors_df[actors_df['birthYear'] != '\\N']

In [10]:
#getting rest of the duplicates
name_duplicates_df = actors_df[actors_df.duplicated('primaryName')]['primaryName'].unique().tolist()

In [11]:
#filtered names
fnd = ['nm0000148', #Harrison Ford
       'nm0262635', #Chris Evans
       'nm0268199', #Colin Farrell
       'nm0362766', #Tom Hardy
       'nm0748620', #Paul Rudd
       'nm0788335', #Michael Shannon
       'nm0000226' #Will Smith
                 ]

fnd_df = actors_df[actors_df['nconst'].isin(fnd)]

In [12]:
#Remove all records with duplicates
actors_df = actors_df.drop_duplicates('primaryName',keep = False)
#combine actors_df with fnd (duplicate actors that were just removed)
if(len(actors_df['primaryName']) != 142):
    actors_df = pd.concat([actors_df, fnd_df]).reset_index(drop = True)

test = actors_df['primaryName'].tolist()
print(len(test))

269

In [13]:
missing_actors = []
for actor in top_actors:
    if actor not in actors_df['primaryName'].unique().tolist():
        missing_actors.append(actor)

print(len(missing_actors))

31

In [14]:
missing_ids = ['nm3011350', #Ma Dong-seok (don lee)
               'nm4043618', #Tom Holland
               'nm0000375', #Robert downey Jr
               'nm3147751', #Lakeith Stanfield
               'nm0005351', #Ryan Reynolds
               'nm2244205', #Léa Seydoux
               'nm0933940', #Patrick Wilson
               'nm3529685', #Kumail Nanjiani
               'nm1282966', #O-T Fagbenle
               'nm0524839', #Ludacris
               'nm7186321', #Lia McHugh
               'nm9305936', #Celeste O'Connor
               'nm10594234', #Logan Kim
               'nm1183149', #Edgar Ramírez
               'nm0272581', #Rebecca Ferguson
               'nm6723114', #Henry Zaga
               'nm7385556', #Blu Hunt
               'nm0151654', #Chang Chen
               'nm0846548', #Saïd Taghmaoui	
               'nm4625502', #Oakes Fegley
               'nm0000467', #Don Johnson
               'nm5506858', #Andi Matichak
               'nm6438048', #Damian Lillard
               'nm0305558', #Gael García Bernal
               'nm7543974', #Aaron Pierce
               'nm7309485', #Azhy Robertson
               'nm0000182', #Jennifer Lopez
               'nm2204178', #Tenoch Huerta
               'nm6006903', #Trace Lysette
               'nm9724879', #Mette Narrative
                   
]
missing_names_df = names_df[names_df['nconst'].isin(missing_ids)]

In [15]:
if(len(actors_df['primaryName']) != 299):
    actors_df = pd.concat([actors_df, missing_names_df]).reset_index(drop = True)
    actors_df['knownForTitles'] = actors_df['knownForTitles'].apply(lambda x: x.split(',') )
actors_df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000093,Brad Pitt,1963,\N,"actor,producer,soundtrack","[tt1210166, tt0356910, tt2935510, tt0114746]"
1,nm0000110,Kenneth Branagh,1960,\N,"actor,producer,director","[tt0097499, tt0107616, tt0116477, tt3402236]"
2,nm0000120,Jim Carrey,1962,\N,"actor,writer,producer","[tt0110475, tt0338013, tt0109040, tt0315327]"
3,nm0000128,Russell Crowe,1964,\N,"actor,soundtrack,producer","[tt0119488, tt0268978, tt0172495, tt1707386]"
4,nm0000130,Jamie Lee Curtis,1958,\N,"actress,producer,director","[tt0120694, tt1502407, tt0111503, tt0086465]"
...,...,...,...,...,...,...
294,nm7309485,Azhy Robertson,\N,\N,actor,"[tt9308346, tt7653254, tt10653784, tt9737326]"
295,nm7385556,Blu Hunt,\N,\N,actress,"[tt8369840, tt2632424, tt15042214, tt4682266]"
296,nm7543974,Aaron Pierre,\N,\N,actor,"[tt10954652, tt5932548, tt6704972, tt4276624]"
297,nm9305936,Celeste O'Connor,1998,\N,actress,"[tt10919380, tt4513678, tt8759834, tt6119856]"
298,nm9724879,Mette Narrative,1991,\N,"actress,soundtrack","[tt5503686, tt7556122]"

In [16]:
titles_set = set()
for ind in actors_df.index:
    kt = actors_df['knownForTitles'][ind]
    for t in kt:
        if t not in titles_set:
            titles_set.add(t)
len(titles_set)

858

In [17]:
titles_df = titles_df[titles_df['tconst'].isin(titles_set)]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
67278,tt0068646,movie,The Godfather,The Godfather,0,1972,\N,175,"Crime,Drama"
69228,tt0070666,movie,Serpico,Serpico,0,1973,\N,130,"Biography,Crime,Drama"
71074,tt0072562,tvSeries,Saturday Night Live,Saturday Night Live,0,1975,\N,90,"Comedy,Music"
71240,tt0072730,movie,A Boy and His Dog,A Boy and His Dog,0,1975,\N,91,"Comedy,Drama,Sci-Fi"
71397,tt0072890,movie,Dog Day Afternoon,Dog Day Afternoon,0,1975,\N,125,"Biography,Crime,Drama"
...,...,...,...,...,...,...,...,...,...
8827618,tt9737326,tvSeries,Invasion,Invasion,0,2021,\N,60,"Drama,Fantasy,Sci-Fi"
8828286,tt9738716,movie,The World to Come,The World to Come,0,2020,\N,105,"Drama,Romance"
8847349,tt9779516,movie,I Still Believe,I Still Believe,0,2020,\N,116,"Biography,Drama,Music"
8877716,tt9844522,movie,Escape Room: Tournament of Champions,Escape Room: Tournament of Champions,0,2021,\N,88,"Action,Adventure,Horror"
8900027,tt9893250,movie,I Care a Lot,I Care a Lot,0,2020,\N,118,"Comedy,Crime,Drama"

In [18]:
#just checking to see if an actor actually belongs in a film
for ind in actors_df.index:
    kt = actors_df['knownForTitles'][ind]
    for t in kt:
        if t == 'tt0072562':
            print(actors_df['primaryName'][ind])

Colin Jost

In [19]:
#exporting into appropriate files
actors_df.to_csv('top_actors_namebasics.csv')
titles_df.to_csv('top_actors_titlebasics.csv')